@{
    ViewBag.Title = "About";
}
<div class="section header">
    <img class="background" src="~/images/piron-guillaume-367208-unsplash.jpg" alt="">
    <div class="header-wrapper row valign-wrapper">
        <div class="col s12">
            <h1>What is S<span style="text-transform:lowercase;">pin</span>ED?</h1>
            <span class="tagline">Let us tell you. </span>
            <button class="read-more"><i class="icon-caret-down"></i></button>
        </div>
    </div>
</div>
<div class="section white full-height">
    <div class="row valign">
        <div class="col s8 offset-s2 m6 offset-m3 blog-body">
            <h4>An education tool that allows users to be exposed to hundreds of cases in preparation for royal college examinations and general learning purposes.</h4>
            <p>
                This is appropriate for trainees at all levels from medical students to fellows in orthopedic and neurosurgery. Practice managing everything from nonoperative fractures, to fracture dislocations of the spine, adult and pediatric deformity and test your knowledge by managing intraoperative and postoperative complications.
            </p>
            <div class="divider"></div>
            <h4>Test Your Knowlege</h4>
            <p>
                Thousands of multiple choice questions developed from readings from the Journal of the American Academy of Orthopedic Surgeons (JAAOS), and realistic cases allow our unique assessment tool to compare yourself to others at your level of training. 
            </p>
            <img class="materialboxed" src="~/images/Mediastienum_MRI_1.png" alt="">
            <p>
                Every multiple choice question or spine case you answer allows for the real-time development of educational profiles.  This unique education tool allows you to understand your specific areas of weakness by subspecialty within spine surgery and region of the spine.  You can compare yourself anonymously to medical students, junior and senior residents, fellows and staff spine surgeons.
            </p>
            <div class="divider"></div>
            <h4>Augmented Reality Spine</h4>
            <p>
                An augmented reality spine allows you to test your anatomical positioning for pedicle screws in a normal spine, as well as in spinal deformity (feature coming soon).  
            </p>
            <img class="materialboxed" src="~/images/AgumentedRealitySpine.png" alt="">
            <p>
                Through this website you can submit your own cases from anywhere in the world by following the simple steps provided.  These cases will be reviewed and may be selected to be featured in the application.
            </p>
        </div>

    </div>
</div>
