@{
    ViewBag.Title = "About";
}
<div class="section header">
    <img class="background" src="~/images/piron-guillaume-367208-unsplash.jpg" alt="">
    <div class="header-wrapper row valign-wrapper">
        <div class="col s12">
            <h1>What is S<span style="text-transform:lowercase;">pin</span>ED?</h1>
            <span class="tagline">Let us tell you. </span>
            <button class="read-more"><i class="icon-caret-down"></i></button>
        </div>
    </div>
</div>
<div class="section white full-height">
    <div class="row valign">
        <div class="col s8 offset-s2 m6 offset-m3 blog-body">
            <h4>An educational tool offered to help trainees learn spine surgery, from the basics to the most complex</h4>
            <p>
                Developed by Dr. Colby Oitment, Dr. Desmond Kwok and Dr. Blake Yaraskavich from the departments of orthopedic and neurosurgery with the intended goal to improve spinal surgery education in underserviced areas with limited access to cross sectional imaging.

            <div class="divider"></div>
            <h4>Augmented Reality Spine</h4>
            <p>
                An augmented reality spine allows you to test your anatomical positioning for pedicle screws in a normal spine, as well as in spinal deformity (feature coming soon).  
            </p>
            <img class="materialboxed" src="~/images/AgumentedRealitySpine.png" alt="">
        </div>
    </div>
</div>
