@{
    ViewBag.Title = "Team";
}

<div class="section header">
    <img class="background" src="~/images/ken-treloar-385255-unsplash.jpg" alt="">
    <div class="header-wrapper row valign-wrapper">
        <div class="col s12">
            <h1>Our Team</h1>
            <span class="tagline">meet our talented group.</span>
            <button class="read-more"><i class="icon-caret-down"></i></button>
        </div>
    </div>
</div>
<div class="section white full-height">
    <div class="row valign">
        <div class="col s12 m10 offset-m1 team">
            <div class="row" id="project-directors">
                <div class="col s12 l3 center-on-small-only">
                    <h3 class="section-title">Project Directors</h3>
                </div>
                <div class="col s12 l9">
                    <div class="row">
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/DrOitment.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Dr. Colby Oitment, MD</span>
                                <span class="title">Founder</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/DrKwok.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Dr. Desmond Kwok, MD</span>
                                <span class="title">Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/DrAnand.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Dr. Christopher Anand</span>
                                <span class="title">Lead Software Director</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/DrWainman.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Dr. Wainman</span>
                                <span class="title">Educational Support</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="divider"></div>
                </div>
                <div class="col s12 l3 center-on-small-only">
                    <h3 class="section-title">Software Developers</h3>
                </div>
                <div class="col s12 l9">
                    <div class="row" id="developers">
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Maya Ramamurthy</span>
                                <span class="title">App Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Katrine Ratichsky</span>
                                <span class="title">App Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Randa Mohsen</span>
                                <span class="title">App Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Manaar Hyder</span>
                                <span class="title">App Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="divider"></div>
                </div>
                <div class="col s12 l3 center-on-small-only">
                    <h3 class="section-title">Engineering</h3>
                </div>
                <div class="col s12 l9">
                    <div class="row" id="engineering">
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Ali Ammar</span>
                                <span class="title">Biomedical Researcher</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Andy Fan</span>
                                <span class="title">Biomedical Researcher</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">George Padeigis</span>
                                <span class="title">Biomedical Researcher</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Michael Bagnowski</span>
                                <span class="title">Biomedical Researcher</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            <div class="row">
                <div class="col s12">
                    <div class="divider"></div>
                </div>
                <div class="col s12 l3 center-on-small-only">
                    <h3 class="section-title">Research</h3>
                </div>
                <div class="col s12 l9">
                    <div class="row" id="research" >
                        
                            <div class="row">
                                <div class="col s12 m3">
                                    <div class="avatar-wrapper">
                                        <span class="avatar">
                                            <img src="~/images/Team/avatar-256x256.png" alt="">
                                        </span>
                                    </div>
                                    <div class="avatar-name">
                                        <span class="name">Christopher Tarzi</span>
                                        <span class="title">Case Developer</span>
                                    </div>
                                </div>

                                <div class="col s12 m3">
                                    <div class="avatar-wrapper">
                                        <span class="avatar">
                                            <img src="~/images/Team/avatar-256x256.png" alt="">
                                        </span>
                                    </div>
                                    <div class="avatar-name">
                                        <span class="name">Danielle Tsirulnikov</span>
                                        <span class="title">Case Developer</span>
                                    </div>
                                </div>
                                <div class="col s12 m3">
                                    <div class="avatar-wrapper">
                                        <span class="avatar">
                                            <img src="~/images/Team/avatar-256x256.png" alt="">
                                        </span>
                                    </div>
                                    <div class="avatar-name">
                                        <span class="name">Gayarthi Pillai</span>
                                        <span class="title">Case Developer</span>
                                    </div>
                                </div>
                                <div class="col s12 m3">
                                    <div class="avatar-wrapper">
                                        <span class="avatar">
                                            <img src="~/images/Team/avatar-256x256.png" alt="">
                                        </span>
                                    </div>
                                    <div class="avatar-name">
                                        <span class="name">Aleesha Uthup</span>
                                        <span class="title">Case Developer</span>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 l3 center-on-small-only">
                </div>
                <div class="col s12 l9">
                    <div class="row">
                        
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Lukas Lenarczyk</span>
                                <span class="title">Case Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Marina Manoraj</span>
                                <span class="title">Case Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Annie Jiang</span>
                                <span class="title">Case Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Keerthana Pasmarthi</span>
                                <span class="title">Case Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 l3 center-on-small-only">
                </div>
                <div class="col s12 l9">
                    <div class="row">
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Raveena Kapoor</span>
                                <span class="title">Case Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Roshan Naufal</span>
                                <span class="title">Case Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Sitara Sharma</span>
                                <span class="title">Case Developer</span>
                            </div>
                        </div>
                        <div class="col s12 m3">
                            <div class="avatar-wrapper">
                                <span class="avatar">
                                    <img src="~/images/Team/avatar-256x256.png" alt="">
                                </span>
                            </div>
                            <div class="avatar-name">
                                <span class="name">Wenyue Alissa Zhang</span>
                                <span class="title">Case Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
